body {
    border: 2px solid black;
}

header,
footer {
    border: 2px solid black;
}

main {
    border: 2px solid black
}

/*HEADER*/
.banner {
    padding: 80px;
    border: 2px solid black;
}

header {
    display: flex;
    justify-content: space-between;
}

.banners {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.banner1,
.banner2,
.banner3 {
    padding: 20px 40px 20px 40px;
}

.wish-resources {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.primogems,
.intertwined-fates {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    padding: 20px;
}

.primogems {
    gap: 10px;
}

/*MAIN*/
main {
    display: flex;
    justify-content: space-between;
}

.display-banner {
    border: 2px solid black;
    padding: 300px 500px 300px 500px;
}

/* FOOTER*/
footer {
    display: flex;
    justify-content: space-between;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.material-counter {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.other {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.right-side {
    display: flex;
    align-items: center;
    justify-content: center;
}

button.wish {
    padding: 40px;
}

.shop,
.details,
.history {
    padding: 40px;
}